<head>
   <title>Vicio Perpetuo Vicio Perfecto</title>
   <meta property="og:title" content="Vicio Perpetuo Vicio Perfecto | Editorial">
   <meta property="og:description" content="La editorial de libros más vendida en el Perú. Fundada el 15 de enero del 2011, nuestra editorial tiene como objetivo promover a autores peruanos y transmitir nuestra identidad nacional a través de la literatura. Nos enfocamos en temas como costumbres, historia, danzas, cultura culinaria, climas, idiomas, fauna y flora, y todo lo que representa ser peruano y el concepto de Perú.">
   
   <meta property="og:url" content="https://vicioperpetuo.com">
   <meta property="og:type" content="website">

   <meta name="twitter:title" content="Vicio Perpetuo Vicio Perfecto | Editorial">
   <meta name="twitter:description" content="La editorial de libros más vendida en el Perú. Fundada el 15 de enero del 2011, nuestra editorial tiene como objetivo promover a autores peruanos y transmitir nuestra identidad nacional a través de la literatura. Nos enfocamos en temas como costumbres, historia, danzas, cultura culinaria, climas, idiomas, fauna y flora, y todo lo que representa ser peruano y el concepto de Perú.">
   <meta name="twitter:image" content="https://vicioperpetuo.com/public/vicio.png">
   <meta name="twitter:card" content="summary_large_image">
   <meta name="twitter:url" content="https://vicioperpetuo.com">

   <script>$(document).ready((function(){$("#logo").hover((function(){$(this).addClass("hover")}),(function(){$(this).removeClass("hover")})),$(".menu-item").hover((function(){$(this).addClass("hover")}),(function(){$(this).removeClass("hover")}));const o=$("#burguer"),n=$("#menu"),e=$("#close");o.click((function(){n.fadeIn(500)})),e.on("click",(function(){n.hide()}))}));</script>
</head>
   <div id="loader" class="loader"><p><img src="/assets/heart.gif"><br><span>...</span></p></div>

   <script>
      document.addEventListener("DOMContentLoaded", function() {
         const video = document.getElementById("intro");
         const loadingGif = document.getElementById("loader");

         video.addEventListener("loadeddata", function() {
            video.classList.add("loaded");
            loadingGif.classList.add("hidden");
         });
      });
   </script>
   <script>

      (function() {
         const vpvp = new Image();
         const vpvpmobile = new Image();
      
         vpvp.onload = checkAssetsLoaded;
         vpvp.onerror = checkAssetsLoaded;
         vpvp.src = "https://bafybeieddgjsfm55iifexfvgrv74nz57mf3i7yqlevtz37kuswvrjyq4ry.ipfs.w3s.link/vpvp.mp4";
      
         vpvpmobile.onload = checkAssetsLoaded;
         vpvpmobile.onerror = checkAssetsLoaded;
         vpvpmobile.src = "https://bafybeicyctq2hiod2sjshemy7lx525opsbbarxmxq3tobwwk3ytmsoavkq.ipfs.w3s.link/vpvpmobile.mp4";
      
         function checkAssetsLoaded() {
         if (vpvp.complete && vpvpmobile.complete) {
            // Both assets are loaded
            document.getElementById("loader").style.display = "none";
         }
         }
      })();
    
              
      function loadAssets(callback) {
       const assets = [
         "assets/logo.svg"
       ];
       let loadedCount = 0;
   
       assets.forEach((url) => {
         const asset = new Image();
         asset.src = url;
         asset.addEventListener("load", () => {
           loadedCount++;
           if (loadedCount === assets.length) {
             callback();
           }
         });
         asset.addEventListener("error", () => {
           console.error(`Error loading asset: ${url}`);
         });
       });
     }
   
     loadAssets(() => {
       const loader = document.querySelector("#loader");
       loader.style.opacity = "0";
       setTimeout(() => {
         loader.style.display = "none";
       }, 500);
     });
   </script>

   <style>
      #video-player {
         display: none;
      }

      #video-player.loaded {
         display: block;
      }
      blockquote{
         text-align:center;
         font-family:'Libre Baskerville', serif;
      }
   </style>

   
 
   <%= link_to image_tag("logo.svg"), nos_path, id:"logo", class:"no-mobile fade-up logo hover", loading:"lazy", alt:"Vicio Perpetuo Vicio Perfecto" %>  
   
   <video width="100%" autoplay muted loop nocontrols id="intro" class="no-mobile">
      <source src="https://bafybeidygpygmy4l5o6kqz6qt3txhrqwii3nxogmctlfpatnjk4kefbjdi.ipfs.w3s.link/VICIO.mp4" type="video/mp4"> 
   </video>
   <video autoplay muted loop nocontrols id="mobile-intro">
      <source src="https://bafybeiamgh4g2u27f44acww44owdblvk4wpiixmkg4ewc2gjeqrtz2tuaa.ipfs.w3s.link/viciomobil.mp4" type="video/mp4"> 
   </video>
   <div id="shop">
      <center id="gens">
         <div class="fade-up menu p-5 mx-auto">
            <%= link_to "Narrativa", narrativa_path, class:"hover menu-item" %>
            <%= link_to "Poesía", poesia_path, class:"hover menu-item" %>
            <%= link_to "Cuento", cuento_path, class:"hover menu-item" %>
            <%= link_to "Novela", novela_path, class:"hover menu-item" %>
            <%= link_to "Ensayo", ensayo_path, class:"hover menu-item" %>
         </div>
      </center>
      <center id="books">
         <%= link_to image_tag("covers/mins/decomplicetenemosalaluna.png"), decomplicetenemosalaluna_path, loading:"lazy", class:"hover", dataAos:"fade-up" %>
         <%= link_to image_tag('covers/mins/elnovelistayeltrompo.png'), elnovelistayeltrompo_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/lapaginaqueescribimos.png'), lapaginaqueescribimos_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/oidossordos.png'), oidossordos_path, loading:"lazy", class:"hover" %>
         <br>
         <%= link_to image_tag('covers/mins/elembajador.png'), elembajador_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/fuegodeceniza.png'), fuegodeceniza_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/deamorisessentia.png'), deamorisessentia_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/elrevesdelcirculodebabel.png'), elrevesdelcirculodebabel_path, loading:"lazy", class:"hover" %>
         <br>
         <%= link_to image_tag('covers/mins/acleman.png'), acleman_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/cuentaconmigoversocontigo.png'), cuentaconmigoversocontigo_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/todaslasvoces.png'), todaslasvoces_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/tiempodetenido.png'), tiempodetenido_path, loading:"lazy", class:"hover" %>
         <br>
         <%= link_to image_tag('covers/mins/alpiedeldesierto.png'), alpiedeldesierto_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/andandoencuentos.png'), andandoencuentos_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/buscandoavenus.png'), buscandoavenus_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/celebraciondeltiempo.png'), celebraciondeltiempo_path, loading:"lazy", class:"hover" %>
         <br>
         <%= link_to image_tag('covers/mins/vozcelestial.png'), vozcelestial_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/cosasquesucedencuentosfantasticos.png'), cosasquesucedencuentosfantasticos_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/dialogospostumos.png'), dialogospostumos_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/gotasobrepiedra.png'), gotasobrepiedra_path, loading:"lazy", class:"hover" %>
         <br>
         <%= link_to image_tag('covers/mins/lanuevaola.png'), lanuevaola_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/lacomarcayotrosrelatos.png'), lacomarcayotrosrelatos_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/linda.png'), linda_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/masalladondetodonace.png'), masalladondetodonace_path, loading:"lazy", class:"hover" %>
         <br>
         <%= link_to image_tag('covers/mins/mutilada.png'), mutilada_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/nuncaensillesauncaballovirtual.png'), nuncaensillesauncaballovirtual_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/paramiamantesustituta.png'), paramiamantesustituta_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/sacrificiodeamor.png'), sacrificiodeamor_path, loading:"lazy", class:"hover" %>
         <br>
         <%= link_to image_tag('covers/mins/sensaciones.png'), sensaciones_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/sinfonialirica.png'), sinfonialirica_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/sobresaltadosueno.png'), sobresaltadosueno_path, loading:"lazy", class:"hover" %>
      </center>
      <div class="frame"><%= image_tag 'separator.svg' %></div>
      <blockquote>
         <p>No es este tu país</p>
         <p>porque conozcas sus linderos,</p>
         <p>ni por el idioma común,</p>
         <p>ni por los nombres de los muertos.</p>
         <p>Es este tu país,</p>
         <p>porque si tuvieras que hacerlo,</p>
         <p>lo elegirías de nuevo</p>
         <p>para construir aquí</p>
         <p>todos tus sueños.</p>
         <br>
         <p><strong>Marco Martos</strong></p>
      </blockquote>
      <div class="slider">
         <center>
            <div class="slider-item hover">
               <p>"He comprado libros varias veces en Vicio Perpetuo y siempre he tenido una experiencia satisfactoria. Los precios son excelentes, hay muchas opciones de pago y los libros los recibí casi inmediatamente."</p>
               <div>
                  <center><%= image_tag 'clientes/jahir_rios.jpg', class:"cliente-img" %></center>
                  Jahir Ríos
               </div>
               <span>@jahirriosllano</span>
            </div>
            <div class="slider-item hover">
               <p>"Como compradora de Vicio Perpetuo, mi experiencia fue excelente. Compré una selección de libros nuevos para mi familia y quedé impresionada con la variedad de opciones de alta calidad y los precios competitivos. Recomiendo altamente a Vicio Perpetuo Vicio Perfecto como una fuente confiable para adquirir buenos libros."</p>
               <div>
                  <center><%= image_tag 'clientes/gabriela_olivera.jpg', class:"cliente-img" %></center>
                  Gabriela Olivera
               </div>
               <span>@gaby.renaware</span>
            </div>
            <div class="slider-item hover">
               <p>"vicioperpetuo.com es genial! Tiene una gran selección de títulos e incluso organizan eventos constantemente. El sitio web es muy intuitivo con fácil navegación entre categorías y autores."</p>
               <div>
                  <center><%= image_tag 'clientes/manuel_gutarra.jpg', class:"cliente-img" %></center>
                  Manuel Gutarra
               </div>
               <span>@gutarramanuel</span>
            </div>
         </center>
      </div>
   </div>

