<head>
<title>Autores | Vicio Perpetuo Vicio Perfecto</title>
<meta property="og:title" content="Vicio Perpetuo Vicio Perfecto | Editorial">
<meta property="og:url" content="https://vicioperpetuo.com">
<meta property="og:image" content="https://vicioperpetuo.com/public/vicio.png">
<meta property="og:description" content="La editorial de libros más vendida en el Perú. Fundada el 15 de enero del 2011, nuestra editorial tiene como objetivo promover a autores peruanos y transmitir nuestra identidad nacional a través de la literatura. Nos enfocamos en temas como costumbres, historia, danzas, cultura culinaria, climas, idiomas, fauna y flora, y todo lo que representa ser peruano y el concepto de Perú.">
<meta property="twitter:title" content="Vicio Perpetuo Vicio Perfecto | Editorial">
<meta property="twitter:url" content="https://vicioperpetuo.com">
<meta property="twitter:image" content="https://vicioperpetuo.com/public/vicio.png">
<meta property="twitter:description" content="La editorial de libros más vendida en el Perú. Fundada el 15 de enero del 2011, nuestra editorial tiene como objetivo promover a autores peruanos y transmitir nuestra identidad nacional a través de la literatura. Nos enfocamos en temas como costumbres, historia, danzas, cultura culinaria, climas, idiomas, fauna y flora, y todo lo que representa ser peruano y el concepto de Perú.">

<script>$(document).ready((function(){$("#logo").hover((function(){$(this).addClass("hover")}),(function(){$(this).removeClass("hover")})),$(".menu-item").hover((function(){$(this).addClass("hover")}),(function(){$(this).removeClass("hover")}));const o=$("#burguer"),n=$("#menu"),e=$("#close");o.click((function(){n.fadeIn(500)})),e.on("click",(function(){n.hide()}))}));</script>
</head>


<%= link_to image_tag("logo.svg"), vicioperfecto_path, class:"no-mobile fade-up logo", loading:"lazy", alt:"Vicio Perpetuo Vicio Perfecto" %>  



<style>
    #autores-container{
        display:block;
        margin:12.5vh 0vw;
        width:100vw;
        text-align:center;
    }
    #autores-container h1{
        margin-bottom:15vh;
    }
    .autor{
        display:block;
        height:auto;            
    }

    span{
        display:block;
        margin:1vh 0vh 15vh;
        text-align:center;
        font-family:'Libre Baskerville', serif;
        font-weight: bolder;
        font-size:1.5em;
    }


    .autor img{
        text-align:center;
        height:25vh;  
        width:25vh;
        display:inline-block;
        border-radius:100vh;
        margin-bottom:21px;
    }

    @media screen and (width:393px){
        #autores-container{
            display:block;
            width:100vw;
        }
        .autor{
            position:static;
            display:block;
            height:100vw;
            width:100vw;    
            text-align:center;    
        }
        .autor img{
            display:block;
            height:72vw;
            width:72vw;
            text-align:center;    
        }
    }
</style>


<div id="autores-container" class="fade-up">
    <center><h1>Autores</h1> 
    <div class="autor">
        <center><%= image_tag "autores/addhemar_sierralta.jpg", class:"hover" %></center>
        <span>Addhemar Sierralta</span>
    </div>
    
    <div class="autor">
        <center><%= image_tag "autores/cesar_blanco.jpg", class:"hover" %></center>
        <span>César Blanco</span>
    </div>
    <div class="autor">
        <center><%= image_tag "autores/elizabeth_caballero.jpg", class:"hover" %></center>
        <span>Elizabeth Caballero</span>
    </div>
    <br>
    <div class="autor">
    <center><%= image_tag "autores/ezequiel_valenzuela.jpg", class:"hover" %></center>
        <span>Ezequiel Valenzuela</span>
    </div>    
    <div class="autor">
        <center> <%= image_tag "autores/gonzalo_davila.jpg", class:"hover" %></center>
        <span>Gonzalo Dávila</span>
    </div>    
    <div class="autor">
        <center> <%= image_tag "autores/gustavo_ramirez.jpg", class:"hover" %></center>
        <span>Gustavo Ramírez</span>
    </div>
    <div class="autor">
        <center><%= image_tag "autores/jamilton_loja.jpg", class:"hover" %></center>
        <span>Jamilton Loja</span>
    </div>
    <br>
    <div class="autor">
        <center><%= image_tag "autores/jorge_aliaga.jpg", class:"hover" %></center>
        <span>Jorge Aliaga</span>
    </div>
    <div class="autor">
    <center><%= image_tag "autores/jorge_diaz_herrera.jpg", class:"hover" %></center>
        <span>Jorge Diaz Herrera</span>
    </div>
    <div class="autor">
        <center><%= image_tag "autores/juan_jose_cavero.jpg", class:"hover" %></center>
        <span>Juan José Cavero</span>
    </div>
    <div class="autor">
        <center><%= image_tag "autores/luciano_acleman.jpg", class:"hover" %></center>
        <span>Luciano Ácleman</span>
    </div>
    <div class="autor">
    <center><%= image_tag "autores/luis_enrique_mendoza.jpg", class:"hover" %></center>
        <span>Luis Enrique Mendoza</span>
    </div>
    <br>
    <div class="autor">
    <center><%= image_tag "autores/maria_campos.jpg", class:"hover" %></center>
        <span>María Campos</span>
    </div>
    <div class="autor">
    <center><%= image_tag "autores/marino_quinto.jpg", class:"hover" %></center>
        <span>Marino Quinto</span>
    </div>
    <div class="autor">
    <center><%= image_tag "autores/manuel_navazar.jpg", class:"hover" %></center>
        <span>Manuel Navazar</span>
    </div>
    <div class="autor">
    <center><%= image_tag "autores/manuel_arbocco.jpg", class:"hover" %></center>
        <span>Marino Arbocco</span>
    </div>
    <br>
    <div class="autor">
    <center><%= image_tag "autores/marianella_saenz.jpg", class:"hover" %></center>
        <span>Marianella Sáenz</span>
    </div>
    <div class="autor">
    <center><%= image_tag "autores/max_huaman.jpg", class:"hover" %></center>
        <span>Max Huamán</span>
    </div>
    <div class="autor">
        <center><%= image_tag "autores/olger_huamani.jpg", class:"hover" %></center>
        <span>Olger Huamaní</span>
    </div>
    <div class="autor">
    <center><%= image_tag "autores/ricardo_falconi.jpg", class:"hover" %></center>
        <span>Ricardo Falconi</span>
    </div>
    <br>
    <div class="autor">
        <center><%= image_tag "autores/ricardo_more.jpg", class:"hover" %></center>
        <span>Ricardo More</span>
    </div>
    <div class="autor">
        <center><%= image_tag "autores/sergio_rufo.jpg", class:"hover" %></center>
        <span>Sergio Rufo</span>
    </div>
    
    <div class="autor">
    <center><%= image_tag "autores/teodoro_guzman.jpg", class:"hover" %></center>
        <span>Teodoro Guzmán</span>
    </div>
    <div class="autor">
    <center><%= image_tag "autores/umbelina_michuy_suyo.jpg", class:"hover" %></center>
        <span>Umbelina Michuy Suyo</span>
    </div>
    <div class="autor">
        <center><%= image_tag "autores/winston_orrillo.jpg", class:"hover" %></center>
        <span>Winston Orrillo</span>
    </div>
    </center>   
</div>