<div class="scroll-tracker"></div>

<%= link_to image_tag("logo.svg"), vicioperfecto_path, class:"fade-up logo", loading:"lazy", alt:"Vicio Perpetuo Vicio Perfecto" %>  
<%= link_to image_tag("shop-cart.svg"), "/vicioperfecto#books", class:"fade-up cart no-mobile", loading:"lazy", style:"background-color:#fff !important" %>
<nav class="fade-up">
    <a href="info">NOSOTROS</a>
    <a href="info#servicios">SERVICIOS</a>
    <a href="autores">AUTORES</a>
</nav>

<style>
    #autores-container{
        margin:25vh 0vw;
        width:100vw;
    }
    .autor{
        width:16vw;        
    }
    span{
        margin:5vh;
    }
</style>


<div id="autores-container" class="fade-up">
    <center><h1>Autores</h1></center>
    <center>
    <div class="autor">
        <center><%= image_tag "autores/addhemar_sieralta.jpg", class:"hover" %></center>
        <span>Addhemar Sieralta</span>
    </div>
    <div class="autor">
        <center><%= image_tag "autores/luciano_acleman.jpg", class:"hover" %></center>
        <span>Luciano Ácleman</span>
    </div>
    <div class="autor">
        <center><%= image_tag "autores/cesar_blanco.jpg", class:"hover" %></center>
        <span>César Blanco</span>
    </div>
    <div class="autor">
        <center><%= image_tag "autores/elizabeth_caballero.jpg", class:"hover" %></center>
        <span>Elizabeth Caballero</span>
    </div>
    <br>
    <div class="autor">
    <center><%= image_tag "autores/ezequiel_valenzuela.jpg", class:"hover" %></center>
        <span>Ezequiel Valenzuela</span>
    </div>    
    <div class="autor">
        <center> <%= image_tag "autores/gonzalo_davila.jpg", class:"hover" %></center>
        <span>Gonzalo Dávila</span>
    </div>    
    <div class="autor">
        <center> <%= image_tag "autores/gustavo_ramirez.jpg", class:"hover" %></center>
        <span>Gustavo Ramírez</span>
    </div>
    <div class="autor">
        <center><%= image_tag "autores/jamilton_loja.jpg", class:"hover" %></center>
        <span>Jamilton Loja</span>
    </div>
    <br>
    <div class="autor">
        <center><%= image_tag "autores/jorge_aliaga.jpg", class:"hover" %></center>
        <span>Jorge Aliaga</span>
    </div>
    <div class="autor">
    <center><%= image_tag "autores/jorge_diaz_herrera.jpg", class:"hover" %></center>
        <span>Jorge Diaz Herrera</span>
    </div>
    <div class="autor">
        <center><%= image_tag "autores/juan_jose_cavero.jpg", class:"hover" %></center>
        <span>Juan José Cavero</span>
    </div>
    <div class="autor">
    <center><%= image_tag "autores/luis_enrique_mendoza.jpg", class:"hover" %></center>
        <span>Luis Enrique Mendoza</span>
    </div>
    <br>
    <div class="autor">
    <center><%= image_tag "autores/maria_campos.jpg", class:"hover" %></center>
        <span>María Campos</span>
    </div>
    <div class="autor">
    <center><%= image_tag "autores/marino_quinto.jpg", class:"hover" %></center>
        <span>Manuel Arbocco</span>
    </div>
    <div class="autor">
    <center><%= image_tag "autores/manuel_navazar.jpg", class:"hover" %></center>
        <span>Manuel Navazar</span>
    </div>
    <div class="autor">
    <center><%= image_tag "autores/manuel_arbocco.jpg", class:"hover" %></center>
        <span>Manuel Arbocco</span>
    </div>
    <br>
    <div class="autor">
    <center><%= image_tag "autores/marianella_saenz.jpg", class:"hover" %></center>
        <span>Marianella Sáenz</span>
    </div>
    <div class="autor">
    <center><%= image_tag "autores/max_huaman.jpg", class:"hover" %></center>
        <span>Max Huamán</span>
    </div>
    <div class="autor">
        <center><%= image_tag "autores/olger_huamani.jpg", class:"hover" %></center>
        <span>Olger Huamaní</span>
    </div>
    <div class="autor">
    <center><%= image_tag "autores/ricardo_falconi.jpg", class:"hover" %></center>
        <span>Ricardo Falconi</span>
    </div>
    <br>
    <div class="autor">
        <center><%= image_tag "autores/ricardo_more.jpg", class:"hover" %></center>
        <span>Ricardo More</span>
    </div>
    <div class="autor">
        <center><%= image_tag "autores/sergio_rufo.jpg", class:"hover" %></center>
        <span>Sergio Rufo</span>
    </div>
    
    <div class="autor">
    <center><%= image_tag "autores/marino_quinto.jpg", class:"hover" %></center>
        <span>Teodoro Guzmán</span>
    </div>
    <div class="autor">
    <center><%= image_tag "autores/umbelina_michuy_suyo.jpg", class:"hover" %></center>
        <span>Umbelina Michuy Suyo</span>
    </div>
    <div class="autor">
        <center><%= image_tag "autores/winston_orrillo.jpg", class:"hover" %></center>
        <span>Winston Orrillo</span>
    </div>
    </center>
</div>