<title>Cuento | Vicio Perpetuo Vicio Perfecto</title>
<meta property="og:title" content="Vicio Perpetuo Vicio Perfecto | Editorial">
<meta property="og:url" content="https://vicioperpetuo.com">
<meta property="og:image" content="https://vicioperpetuo.com/public/vicio.png">
<meta property="og:description" content="La editorial de libros más vendida en el Perú. Fundada el 15 de enero del 2011, nuestra editorial tiene como objetivo promover a autores peruanos y transmitir nuestra identidad nacional a través de la literatura. Nos enfocamos en temas como costumbres, historia, danzas, cultura culinaria, climas, idiomas, fauna y flora, y todo lo que representa ser peruano y el concepto de Perú.">
<meta property="twitter:title" content="Vicio Perpetuo Vicio Perfecto | Editorial">
<meta property="twitter:url" content="https://vicioperpetuo.com">
<meta property="twitter:image" content="https://vicioperpetuo.com/public/vicio.png">
<meta property="twitter:description" content="La editorial de libros más vendida en el Perú. Fundada el 15 de enero del 2011, nuestra editorial tiene como objetivo promover a autores peruanos y transmitir nuestra identidad nacional a través de la literatura. Nos enfocamos en temas como costumbres, historia, danzas, cultura culinaria, climas, idiomas, fauna y flora, y todo lo que representa ser peruano y el concepto de Perú.">

<script>$(document).ready((function(){$("#logo").hover((function(){$(this).addClass("hover")}),(function(){$(this).removeClass("hover")})),$(".menu-item").hover((function(){$(this).addClass("hover")}),(function(){$(this).removeClass("hover")}));const o=$("#burguer"),n=$("#menu"),e=$("#close");o.click((function(){n.fadeIn(500)})),e.on("click",(function(){n.hide()}))}));</script>
<%= link_to image_tag("logo.svg"), vicioperfecto_path, class:"no-mobile logo" %>  
<div class="parallax">

   <center>
      <div class="menu p-5 mx-auto fade-up">
         <%= link_to "Narrativa", narrativa_path %>
         <%= link_to "Poesía", poesia_path %>
         <%= link_to "Cuento", cuento_path, style:"color:red" %>
         <%= link_to "Novela", novela_path %>
         <%= link_to "Ensayo", ensayo_path %>
      </div>
   </center>
   <center id="books" class="fade-up">

      <%= link_to image_tag('covers/laotraorilla.png'), laotraorilla_path, class:"hover" %>
      <%= link_to image_tag('covers/cuentaconmigoversocontigo.png'), cuentaconmigoversocontigo_path, class:"hover" %>
      <%= link_to image_tag('covers/tiempodetenido.png'), tiempodetenido_path, class:"hover" %>
      <br>
      <%= link_to image_tag('covers/andandoencuentos.png'), andandoencuentos_path, class:"hover" %>
      <%= link_to image_tag('covers/cosasquesucedencuentosfantasticos.png'), cosasquesucedencuentosfantasticos_path, class:"hover" %>
      <%= link_to image_tag('covers/lacomarcayotrosrelatos.png'), lacomarcayotrosrelatos_path, class:"hover" %>
      <br>
      <%= link_to image_tag('covers/sobresaltadosueno.png'), sobresaltadosueno_path, class:"hover" %>
   </center>
</div>