<title>Ensayo | Vicio Perpetuo Vicio Perfecto</title>
<meta content="Vicio Perpetuo Vicio Perfecto | Editorial" property="og:title">
<meta content="https://vicioperpetuo.com" property="og:url">
<meta content="https://vicioperpetuo.com/public/vicio.png" property="og:image">
<meta content="La editorial de libros más vendida en el Perú. Fundada el 15 de enero del 2011, nuestra editorial tiene como objetivo promover a autores peruanos y transmitir nuestra identidad nacional a través de la literatura. Nos enfocamos en temas como costumbres, historia, danzas, cultura culinaria, climas, idiomas, fauna y flora, y todo lo que representa ser peruano y el concepto de Perú." property="og:description">
<meta content="Vicio Perpetuo Vicio Perfecto | Editorial" property="twitter:title">
<meta content="https://vicioperpetuo.com" property="twitter:url">
<meta content="https://vicioperpetuo.com/public/vicio.png" property="twitter:image">
<meta content="La editorial de libros más vendida en el Perú. Fundada el 15 de enero del 2011, nuestra editorial tiene como objetivo promover a autores peruanos y transmitir nuestra identidad nacional a través de la literatura. Nos enfocamos en temas como costumbres, historia, danzas, cultura culinaria, climas, idiomas, fauna y flora, y todo lo que representa ser peruano y el concepto de Perú." property="twitter:content">
<%= link_to image_tag("logo.svg"), vicioperfecto_path, class:"no-mobile logo" %>  
<div class="parallax">
   <center>
      <div class="menu p-5 mx-auto fade-up">
         <%= link_to "Narrativa", narrativa_path %>
         <%= link_to "Poesía", poesia_path %>
         <%= link_to "Cuento", cuento_path %>
         <%= link_to "Novela", novela_path %>
         <%= link_to "Ensayo", ensayo_path, style:"color:red" %>
      </div>
   </center>
   <center id="books" class="fade-up">
      <%= link_to image_tag('covers/laluchaporlaansiadalibertad.png'), laluchaporlaansiadalibertad_path, class:"hover" %>
   </center>
</div>
<script>$(document).ready((function(){$("#logo").hover((function(){$(this).addClass("hover")}),(function(){$(this).removeClass("hover")})),$(".menu-item").hover((function(){$(this).addClass("hover")}),(function(){$(this).removeClass("hover")}));const o=$("#burguer"),n=$("#menu"),e=$("#close");o.click((function(){n.fadeIn(500)})),e.on("click",(function(){n.hide()}))}));</script>