
<title>Narrativa | Vicio Perpetuo Vicio Perfecto</title>
<meta content="Vicio Perpetuo Vicio Perfecto | Editorial" property="og:title">
<meta content="https://vicioperpetuo.com" property="og:url">
<meta content="https://vicioperpetuo.com/public/vicio.png" property="og:image">
<meta content="La editorial de libros más vendida en el Perú. Fundada el 15 de enero del 2011, nuestra editorial tiene como objetivo promover a autores peruanos y transmitir nuestra identidad nacional a través de la literatura. Nos enfocamos en temas como costumbres, historia, danzas, cultura culinaria, climas, idiomas, fauna y flora, y todo lo que representa ser peruano y el concepto de Perú." property="og:description">
<meta content="Vicio Perpetuo Vicio Perfecto | Editorial" property="twitter:title">
<meta content="https://vicioperpetuo.com" property="twitter:url">
<meta content="https://vicioperpetuo.com/public/vicio.png" property="twitter:image">
<meta content="La editorial de libros más vendida en el Perú. Fundada el 15 de enero del 2011, nuestra editorial tiene como objetivo promover a autores peruanos y transmitir nuestra identidad nacional a través de la literatura. Nos enfocamos en temas como costumbres, historia, danzas, cultura culinaria, climas, idiomas, fauna y flora, y todo lo que representa ser peruano y el concepto de Perú." property="twitter:content">
<script>$(document).ready((function(){$("#logo").hover((function(){$(this).addClass("hover")}),(function(){$(this).removeClass("hover")})),$(".menu-item").hover((function(){$(this).addClass("hover")}),(function(){$(this).removeClass("hover")}));const o=$("#burguer"),n=$("#menu"),e=$("#close");o.click((function(){n.fadeIn(500)})),e.on("click",(function(){n.hide()}))}));</script>
<%= link_to image_tag("logo.svg"), vicioperfecto_path, class:"no-mobile logo" %>  
<div class="parallax">

<center><div class="menu p-5 mx-auto fade-up">
<%= link_to "Narrativa", narrativa_path, style:"color:red" %>
<%= link_to "Poesía", poesia_path %>
<%= link_to "Cuento", cuento_path %>
<%= link_to "Novela", novela_path %>
<%= link_to "Ensayo", ensayo_path %>
</div></center>

<center id="books" class="fade-up">

    <%= link_to image_tag("covers/mins/decomplicetenemosalaluna.png"), decomplicetenemosalaluna_path, class:"hover" %>
    <%= link_to image_tag('covers/mins/elnovelistayeltrompo.png'), elnovelistayeltrompo_path, class:"hover" %>
    <%= link_to image_tag('covers/mins/elrevesdelcirculodebabel.png'), elrevesdelcirculodebabel_path, class:"hover" %>
    <br>
    <%= link_to image_tag('covers/mins/lacuarentena.png'), lacuarentena_path, class:"hover" %>
    <%= link_to image_tag('covers/mins/laotraorilla.png'), laotraorilla_path, class:"hover" %>
    <%= link_to image_tag('covers/mins/companiaeterna.png'), companiaeterna_path, class:"hover" %>
    <br>
    <%= link_to image_tag('covers/mins/cuentaconmigoversocontigo.png'), cuentaconmigoversocontigo_path, class:"hover" %>
    <%= link_to image_tag('covers/mins/soploinocente.png'), soploinocente_path, class:"hover" %>
    <%= link_to image_tag('covers/mins/tiempodetenido.png'), tiempodetenido_path, class:"hover" %>
    <br>
    <%= link_to image_tag('covers/mins/andandoencuentos.png'), andandoencuentos_path, class:"hover" %>
    <%= link_to image_tag('covers/mins/generacionbicentenario.png'), generacionbicentenario_path, class:"hover" %>
    <%= link_to image_tag('covers/mins/buscandoavenus.png'), buscandoavenus_path, class:"hover" %>
    <br>
    <%= link_to image_tag('covers/mins/cosasquesucedencuentosfantasticos.png'), cosasquesucedencuentosfantasticos_path, class:"hover" %>
    <%= link_to image_tag('covers/mins/lacomarcayotrosrelatos.png'), lacomarcayotrosrelatos_path, class:"hover" %>
    <%= link_to image_tag('covers/mins/lanuevaola.png'), lanuevaola_path, class:"hover" %>
    <br>
    <%= link_to image_tag('covers/mins/linda.png'), linda_path, class:"hover" %>
    <%= link_to image_tag('covers/mins/masalladondetodonace.png'), masalladondetodonace_path, class:"hover" %>
    <%= link_to image_tag('covers/mins/nuncaensillesauncaballovirtual.png'), nuncaensillesauncaballovirtual_path, class:"hover" %>
    <br>
    <%= link_to image_tag('covers/mins/paramiamantesustituta.png'), paramiamantesustituta_path, class:"hover" %>
    <%= link_to image_tag('covers/mins/sensaciones.png'), sensaciones_path, class:"hover" %>
    <%= link_to image_tag('covers/mins/sobresaltadosueno.png'), sobresaltadosueno_path, class:"hover" %>

</center>

</div>
