<title>Poesía | Vicio Perpetuo Vicio Perecto</title>
<meta content="Vicio Perpetuo Vicio Perfecto | Editorial" property="og:title">
<meta content="https://vicioperpetuo.com" property="og:url">
<meta content="https://vicioperpetuo.com/public/vicio.png" property="og:image">
<meta content="La editorial de libros más vendida en el Perú. Fundada el 15 de enero del 2011, nuestra editorial tiene como objetivo promover a autores peruanos y transmitir nuestra identidad nacional a través de la literatura. Nos enfocamos en temas como costumbres, historia, danzas, cultura culinaria, climas, idiomas, fauna y flora, y todo lo que representa ser peruano y el concepto de Perú." property="og:description">
<meta content="Vicio Perpetuo Vicio Perfecto | Editorial" property="twitter:title">
<meta content="https://vicioperpetuo.com" property="twitter:url">
<meta content="https://vicioperpetuo.com/public/vicio.png" property="twitter:image">
<meta content="La editorial de libros más vendida en el Perú. Fundada el 15 de enero del 2011, nuestra editorial tiene como objetivo promover a autores peruanos y transmitir nuestra identidad nacional a través de la literatura. Nos enfocamos en temas como costumbres, historia, danzas, cultura culinaria, climas, idiomas, fauna y flora, y todo lo que representa ser peruano y el concepto de Perú." property="twitter:content">
<script>$(document).ready((function(){$("#logo").hover((function(){$(this).addClass("hover")}),(function(){$(this).removeClass("hover")})),$(".menu-item").hover((function(){$(this).addClass("hover")}),(function(){$(this).removeClass("hover")}));const o=$("#burguer"),n=$("#menu"),e=$("#close");o.click((function(){n.fadeIn(500)})),e.on("click",(function(){n.hide()}))}));</script>
<%= link_to image_tag("logo.svg"), vicioperfecto_path, class:"no-mobile logo" %>  

<div class="parallax">

   <center>
      <div class="menu p-5 mx-auto fade-up">
         <%= link_to "Narrativa", narrativa_path %>
         <%= link_to "Poesía", poesia_path, style:"color:red" %>
         <%= link_to "Cuento", cuento_path %>
         <%= link_to "Novela", novela_path %>
         <%= link_to "Ensayo", ensayo_path %>
      </div>
   </center>
   <center id="books" class="fade-up">
      <%= link_to image_tag("covers/decomplicetenemosalaluna.png"), decomplicetenemosalaluna_path, class:"hover" %>
      <%= link_to image_tag('covers/lapaginaqueescribimos.png'), lapaginaqueescribimos_path, class:"hover" %>
      <%= link_to image_tag('covers/deamorisessentia.png'), deamorisessentia_path, class:"hover" %>
      <%= link_to image_tag('covers/fuegodeceniza.png'), fuegodeceniza_path, class:"hover" %>
      <br>
      <%= link_to image_tag('covers/misdecimasyyo.png'), misdecimasyyo_path, class:"hover" %>
      <%= link_to image_tag('covers/todaslasvoces.png'), todaslasvoces_path, class:"hover" %>
      <%= link_to image_tag('covers/vertigo.png'), vertigo_path, class:"hover" %>
      <%= link_to image_tag('covers/vespertilio.png'), vespertilio_path, class:"hover" %>
      <br>
      <%= link_to image_tag('covers/acleman.png'), acleman_path, class:"hover" %>
      <%= link_to image_tag('covers/alpiedeldesierto.png'), alpiedeldesierto_path, class:"hover" %>
      <%= link_to image_tag('covers/celebraciondeltiempo.png'), celebraciondeltiempo_path, class:"hover" %>
      <%= link_to image_tag('covers/vozcelestial.png'), vozcelestial_path, class:"hover" %>
      <br>
      <%= link_to image_tag('covers/bicentenario.png'), bicentenario_path, class:"hover" %>
      <%= link_to image_tag('covers/dialogospostumos.png'), dialogospostumos_path, class:"hover" %>
      <%= link_to image_tag('covers/gotasobrepiedra.png'), gotasobrepiedra_path, class:"hover" %>
      
      <%= link_to image_tag('covers/lascallesdemialma.png'), lascallesdemialma_path, class:"hover" %>
      <br>
      <%= link_to image_tag('covers/mutilada.png'), mutilada_path, class:"hover" %>
      <%= link_to image_tag('covers/sacrificiodeamor.png'), sacrificiodeamor_path, class:"hover" %>
      <%= link_to image_tag('covers/sinfonialirica.png'), sinfonialirica_path, class:"hover" %>
   </center>
</div>