<title>Servicios | Vicio Perpetuo Vicio Perfecto</title>
<meta property="og:title" content="Vicio Perpetuo Vicio Perfecto | Editorial">
<meta property="og:url" content="https://vicioperpetuo.com">
<meta property="og:image" content="https://vicioperpetuo.com/public/vicio.png">
<meta property="og:description" content="La editorial de libros más vendida en el Perú. Fundada el 15 de enero del 2011, nuestra editorial tiene como objetivo promover a autores peruanos y transmitir nuestra identidad nacional a través de la literatura. Nos enfocamos en temas como costumbres, historia, danzas, cultura culinaria, climas, idiomas, fauna y flora, y todo lo que representa ser peruano y el concepto de Perú.">
<meta property="twitter:title" content="Vicio Perpetuo Vicio Perfecto | Editorial">
<meta property="twitter:url" content="https://vicioperpetuo.com">
<meta property="twitter:image" content="https://vicioperpetuo.com/public/vicio.png">
<meta property="twitter:description" content="La editorial de libros más vendida en el Perú. Fundada el 15 de enero del 2011, nuestra editorial tiene como objetivo promover a autores peruanos y transmitir nuestra identidad nacional a través de la literatura. Nos enfocamos en temas como costumbres, historia, danzas, cultura culinaria, climas, idiomas, fauna y flora, y todo lo que representa ser peruano y el concepto de Perú.">

<script>$(document).ready((function(){$("#logo").hover((function(){$(this).addClass("hover")}),(function(){$(this).removeClass("hover")})),$(".menu-item").hover((function(){$(this).addClass("hover")}),(function(){$(this).removeClass("hover")}));const o=$("#burguer"),n=$("#menu"),e=$("#close");o.click((function(){n.fadeIn(500)})),e.on("click",(function(){n.hide()}))}));</script>
<%= link_to image_tag("logo.svg"), vicioperfecto_path, class:"no-mobile fade-up logo", loading:"lazy", alt:"Vicio Perpetuo Vicio Perfecto" %>  
<style>
#contactus{
   height:50px;
   width:auto;
   background:#111;
   border-radius:100px;
   padding:15px;
   margin:5vh 0vh;
   color:#fff;
   font-family:Roboto, sans-serif;
   text-align:center;
}

#info{
   margin:1vh 25vw 12.5vh;
}

#info h2{
   vertical-align:middle;
}

#info h2 img{
   height:1.8em;
}
</style>

<div id="info" class="fade-up">
   
   
                        <div class="rich-text-block-5 w-richtext" id="servicios">
                           <p></p>
                           <h1 style="background:#df0000;color:#fff;padding-top:91px;">Servicios
                           </h1>
                           <p></p>
                        </div>
                        <h2><%= image_tag 'icon_a.svg' %> Corrección y estilo</h2>
                        <p>La corrección y el estilo son servicios clave para cualquier escrito. Ofrecemos una revisión exhaustiva de errores ortográficos, gramaticales, léxicos y estilísticos, manteniendo la claridad intelectual del material. Estos servicios garantizan que los lectores reciban un contenido de alta calidad y coherente, cumpliendo con los requisitos académicos o profesionales. Mejoran su trabajo agregando fluidez a la expresión, diversidad de puntuación e incorporando respuestas claras a preguntas críticas. Además, optimizamos el resultado del documento evaluando el tono y redirigiendo información según sea necesario.</p>
                        <p></p>
                        <h2><%= image_tag 'icon_b.svg' %> Diagramación</h2>
                        <p>La diagramación es un servicio que se encarga de organizar la disposición de texto e imágenes en un producto impreso. Incluye el diseño de elementos gráficos, la selección de la fuente adecuada, la definición de un sistema de márgenes y la alineación visual para lograr una narrativa visual atractiva para los lectores. Para lograr un aspecto profesional y fácil comprensión, es esencial seguir principios básicos como la jerarquía de contenidos, el equilibrio y el contraste. Nuestro objetivo es crear un producto técnicamente completo y perfecto dentro del espacio disponible, donde todos los elementos trabajan juntos para comunicar adecuadamente el mensaje propuesto.</p>
                        <p></p>
                        <h2><%= image_tag 'icon_c.svg' %> Talleres literarios</h2>
                        <p>Los autores pueden mejorar sus habilidades con clases guiadas por nuestros expertos. Estas clases están diseñadas para diferentes grupos y niveles, desde principiantes hasta profesionales, adaptándose al talento y motivación de cada alumno. Los temas incluirían diversos géneros y tipos de escritura, como novelas, poesía, guiones, contenido para medios digitales, y mucho más.</p>
                        <p></p>
                        <h2><%= image_tag 'icon_d.svg' %> Edición e impresión</h2>
                        <p>Aseguramos la calidad de los textos antes de su publicación. Esto incluye correcciones ortográficas y gramaticales, verificación de precisión del contenido, trabajo con el autor para hacer el material atractivo e inteligible, y ayudar a encontrar el tono adecuado. También es importante revisar la presentación del manuscrito para asegurarse de que cumpla con las expectativas.</p>
                        <p></p>
                        <h2><%= image_tag 'icon_e.svg' %> Diseño de portada</h2>
                        <p>El servicio de diseño de portada en una editorial consiste en crear la mejor imagen posible para libros y otros productos impresos con la ayuda de expertos. Incluye la identificación del público objetivo, la selección de imágenes, la elección de color, tipografía y composición visual, con el objetivo de atraer a un lector potencial. El diseñador colabora con el autor o editor para garantizar que todos los elementos creativos representen la obra adecuadamente.</p>
                        <p></p>
                        <h2><%= image_tag 'icon_f.svg' %> Posicionamiento y venta de libros</h2>
                        <p>Nos encargamos de implementar estrategias publicitarias para mejorar la visibilidad del libro. Incluye técnicas creativas para su promoción, uso de medios digitales para llegar a un público amplio, creación de contenido exclusivo para compartir en redes sociales y mejorar su presencia en tiendas en línea. También se considera identificar mercados y públicos objetivos, establecer metas realistas para alcanzar el éxito editorial deseado y monitorear su progreso continuamente.</p>
                        <p></p>
                        <a href="https://api.whatsapp.com/send?phone=+51929297202&text=Hola%2C+vengo+del+sitio+vicioperpetuo.com"><div id="contactus">Contáctanos por Whatsapp</div></a>
                        <p></p>
                        <p></p>
                        <p></p>
                        <br>
                       
                     
                        
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

</div>
