
<title>Tienda | Vicio Perpetuo Vicio Perfecto</title>
<meta content="Vicio Perpetuo Vicio Perfecto | Editorial" property="og:title">
<meta content="https://vicioperpetuo.com" property="og:url">
<meta content="https://bafybeifqwnjfngyec5tziib6uyiizxsyaqb2q7zg3e5xmqe5vo26crt2zy.ipfs.w3s.link/social.png" property="og:image">
<meta content="La editorial de libros más vendida en el Perú. Fundada el 15 de enero del 2011, nuestra editorial tiene como objetivo promover a autores peruanos y transmitir nuestra identidad nacional a través de la literatura. Nos enfocamos en temas como costumbres, historia, danzas, cultura culinaria, climas, idiomas, fauna y flora, y todo lo que representa ser peruano y el concepto de Perú." property="og:description">
<meta content="Vicio Perpetuo Vicio Perfecto | Editorial" property="twitter:title">
<meta content="https://vicioperpetuo.com" property="twitter:url">
<meta content="https://bafybeifqwnjfngyec5tziib6uyiizxsyaqb2q7zg3e5xmqe5vo26crt2zy.ipfs.w3s.link/social.png" property="twitter:image">
<meta content="La editorial de libros más vendida en el Perú. Fundada el 15 de enero del 2011, nuestra editorial tiene como objetivo promover a autores peruanos y transmitir nuestra identidad nacional a través de la literatura. Nos enfocamos en temas como costumbres, historia, danzas, cultura culinaria, climas, idiomas, fauna y flora, y todo lo que representa ser peruano y el concepto de Perú." property="twitter:content">

<script>$(document).ready((function(){$("#logo").hover((function(){$(this).addClass("hover")}),(function(){$(this).removeClass("hover")})),$(".menu-item").hover((function(){$(this).addClass("hover")}),(function(){$(this).removeClass("hover")}));const o=$("#burguer"),n=$("#menu"),e=$("#close");o.click((function(){n.fadeIn(500)})),e.on("click",(function(){n.hide()}))}));</script>
<%= link_to image_tag("logo.svg"), vicioperfecto_path, class:"no-mobile logo", loading:"lazy", alt:"Vicio Perpetuo Vicio Perfecto" %>  
<div id="shop">
      <center id="gens">
         <div class="fade-up menu p-5 mx-auto">
            <%= link_to "Narrativa", narrativa_path, class:"hover menu-item" %>
            <%= link_to "Poesía", poesia_path, class:"hover menu-item" %>
            <%= link_to "Cuento", cuento_path, class:"hover menu-item" %>
            <%= link_to "Novela", novela_path, class:"hover menu-item" %>
            <%= link_to "Ensayo", ensayo_path, class:"hover menu-item" %>
         </div>
      </center>
      <center id="books" class="fade-up">
         <%= link_to image_tag("covers/mins/decomplicetenemosalaluna.png"), decomplicetenemosalaluna_path, loading:"lazy", class:"fade-up hover"%>
         <%= link_to image_tag('covers/mins/elnovelistayeltrompo.png'), elnovelistayeltrompo_path, loading:"lazy", class:"fade-up2 hover" %>
         <%= link_to image_tag('covers/mins/lapaginaqueescribimos.png'), lapaginaqueescribimos_path, loading:"lazy", class:"fade-up3 hover" %>
         <%= link_to image_tag('covers/mins/oidossordos.png'), oidossordos_path, loading:"lazy", class:"fade-up4 hover" %>
         <br>
         <%= link_to image_tag('covers/mins/elembajador.png'), elembajador_path, loading:"lazy", class:"fade-up hover" %>
         <%= link_to image_tag('covers/mins/fuegodeceniza.png'), fuegodeceniza_path, loading:"lazy", class:"fade-up2 hover" %>
         <%= link_to image_tag('covers/mins/deamorisessentia.png'), deamorisessentia_path, loading:"lazy", class:"fade-up3 hover" %>
         <%= link_to image_tag('covers/mins/elrevesdelcirculodebabel.png'), elrevesdelcirculodebabel_path, loading:"lazy", class:"fade-up4 hover" %>
         <br>
         <%= link_to image_tag('covers/mins/acleman.png'), acleman_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/cuentaconmigoversocontigo.png'), cuentaconmigoversocontigo_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/todaslasvoces.png'), todaslasvoces_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/tiempodetenido.png'), tiempodetenido_path, loading:"lazy", class:"hover" %>
         <br>
         <%= link_to image_tag('covers/mins/alpiedeldesierto.png'), alpiedeldesierto_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/andandoencuentos.png'), andandoencuentos_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/buscandoavenus.png'), buscandoavenus_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/celebraciondeltiempo.png'), celebraciondeltiempo_path, loading:"lazy", class:"hover" %>
         <br>
         <%= link_to image_tag('covers/mins/vozcelestial.png'), vozcelestial_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/cosasquesucedencuentosfantasticos.png'), cosasquesucedencuentosfantasticos_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/dialogospostumos.png'), dialogospostumos_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/gotasobrepiedra.png'), gotasobrepiedra_path, loading:"lazy", class:"hover" %>
         <br>
         <%= link_to image_tag('covers/mins/lanuevaola.png'), lanuevaola_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/lacomarcayotrosrelatos.png'), lacomarcayotrosrelatos_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/linda.png'), linda_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/masalladondetodonace.png'), masalladondetodonace_path, loading:"lazy", class:"hover" %>
         <br>
         <%= link_to image_tag('covers/mins/mutilada.png'), mutilada_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/nuncaensillesauncaballovirtual.png'), nuncaensillesauncaballovirtual_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/paramiamantesustituta.png'), paramiamantesustituta_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/sacrificiodeamor.png'), sacrificiodeamor_path, loading:"lazy", class:"hover" %>
         <br>
         <%= link_to image_tag('covers/mins/sensaciones.png'), sensaciones_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/sinfonialirica.png'), sinfonialirica_path, loading:"lazy", class:"hover" %>
         <%= link_to image_tag('covers/mins/sobresaltadosueno.png'), sobresaltadosueno_path, loading:"lazy", class:"hover" %>
      </center>
      <div class="frame"></div>
      <div class="slider">
         <center>
            <div class="slider-item hover">
               <p>"He comprado libros varias veces en Vicio Perpetuo y siempre he tenido una experiencia satisfactoria. Los precios son excelentes, hay muchas opciones de pago y los libros los recibí casi inmediatamente."</p>
               <div>
                  <center><%= image_tag 'clientes/jahir_rios.jpg', class:"cliente-img" %></center>
                  Jahir Ríos
               </div>
               <span>@jahirriosllano</span>
            </div>
            <div class="slider-item hover">
               <p>"Como compradora de Vicio Perpetuo, mi experiencia fue excelente. Compré una selección de libros nuevos para mi familia y quedé impresionada con la variedad de opciones de alta calidad y los precios competitivos. Recomiendo altamente a Vicio Perpetuo Vicio Perfecto como una fuente confiable para adquirir buenos libros."</p>
               <div>
                  <center><%= image_tag 'clientes/gabriela_olivera.jpg', class:"cliente-img" %></center>
                  Gabriela Olivares
               </div>
               <span>@gaby.renaware</span>
            </div>
            <div class="slider-item hover">
               <p>"vicioperpetuo.com es genial! Tiene una gran selección de títulos e incluso organizan eventos constantemente. El sitio web es muy intuitivo con fácil navegación entre categorías y autores."</p>
               <div>
                  <center><%= image_tag 'clientes/manuel_gutarra.jpg', class:"cliente-img" %></center>
                  Manuel Gutarra
               </div>
               <span>@gutarramanuel</span>
            </div>
         </center>
      </div>
   </div>